@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');

*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
    color: blueviolet;
    header{
        background-image: url(../animado/sakura2.gif);
        background-size: cover;
        img{
            width: 200px;
            height: 200px;
        }
    }
    main{
        background: linear-gradient(180deg, rgba(0,255,222,1) 0%, rgba(0,0,0,1) 90%);
        background-size: auto;
        div{
            font-family: 'Waterfall', cursive;
            color: black;
            font-size: 3em;
        }
        .links{
            height: 180px;
            width: 300px;
            text-align: center;

        }
    }
}
